<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/IdeaDetail.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a8a24f1fa9.js"
      crossorigin="anonymous"
    ></script>
    <title>My SW Idea Manage</title>
  </head>
  <body>
    <header>
      <div class="header__bar container">
        <div class="header__title">
          <a href="{% url 'ideas:IdeaHome' %}"
            >My <span>SW Idea</span> Manage</a
          >
        </div>
        <div class="header__navbar">
          <ul>
            <li><a href="{% url 'ideas:IdeaCreate' %}">아이디어 등록</a></li>
            <li><a href="{% url 'ideas:IdeaHome' %}">아이디어 관리</a></li>
            <li><a href="{% url 'ideas:ToolCreate' %}">개발툴 등록</a></li>
            <li><a href="{% url 'ideas:ToolHome' %}">개발툴 관리</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="idea__list container">
        <div class="idea__desc">
          <h2 class="idea__desc1">Idea Detail</h2>
          <p class="idea__desc2">
            아이디어 세부내용 페이지 입니다. 당신이 구현하려 한 아이디어들을
            자세히 살펴보세요.
          </p>
        </div>

        <div class="idea__flex_box">
          <img src="{{ idea.image.url }}" alt="" />
          <div class="idea__description">
            <div class="idea__like">
              <p class="idea__title">{{ idea.title }}</p>
              <div class="idea__like_btn">
                {% if idea.like == False %}
                <i class="fa-regular fa-star"></i>
                {% else %}
                <i class="fa-solid fa-star"></i>
                {% endif %}
              </div>
            </div>
            <div>
              <p class="idea__interest">1) 아이디어 관심도</p>
              {{ idea.interest }}
            </div>
            <div>
              <p class="idea__tool">2) 예상 개발 툴</p>
              <a href="{% url 'ideas:ToolDetail' idea.devtool.id %}">
                <div class="idea__tool_link">{{ idea.devtool.name }}</div></a
              >
            </div>
            <div>
              <p class="idea__content">3) 아이디어 설명</p>
              {{ idea.content }}
            </div>
          </div>
        </div>

        <div class="idea__button">
          <form action="{% url 'ideas:IdeaDelete' idea.id %}" method="post">
            {% csrf_token %} <button class="idea__del_btn">삭제</button>
          </form>
          <a href="{% url 'ideas:IdeaHome' %}"
            ><button class="idea__list_btn">목록</button>
          </a>
          <a href="{% url 'ideas:IdeaUpdate' idea.id %}"
            ><button class="idea__mod_btn">수정</button></a
          >
        </div>
      </div>
    </main>
  </body>
</html>
