{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pirostagram</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a8a24f1fa9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% block style %} {% endblock %}
  </head>
  <body>
    {% block content %} {% endblock %} {% block extra %} {% endblock %}
  </body>
</html>
