.idea__box {
  padding: 10px 40px;
  margin-top: 50px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.5);
}

.idea__desc {
  text-align: center;
  width: 100%;
}

.idea__desc1 {
  color: #d6fe5e;
  font-size: 1.5em;
  font-weight: 800;
  padding: 12px 0 7px 0;
}

.idea__desc2 {
  color: white;
  margin-bottom: 50px;
}

.tool__list li {
  display: flex;
  border-bottom: 1px solid white;
  padding: 20px 40px;
}

.tool__list li:nth-child(1) {
  border-top: 1px solid white;
}

.tool__list li div {
  margin-right: 20px;
}

.tool__list .tool__name {
  font-weight: 800;
  width: 80px;
}

.tool__list .tool__kind {
  font-weight: 800;
  color: white;
  width: 150px;
}

.tool__list .tool__content {
  width: 800px;
}
